{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Reset Password</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <meta name="robots" content="noindex, follow">

    <style>
        .signup-login {
            margin: auto;
            padding: 10px;
            }
    </style>
</head>

<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-t-50 p-b-90">
                <form class="login100-form validate-form flex-sb flex-w" method="post">
                    {% csrf_token %}
                    <span class="login100-form-title p-b-51">
                        reset password
                    </span>
                    <div class="wrap-input100 validate-input m-b-16" data-validate="Email is required">
                        <input class="input100" type="text" name="email" placeholder="Email">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="container-login100-form-btn m-t-17">
                        <input name="recover-submit" class="login100-form-btn" type="submit" value="Reset Password"></input>
                    </div>
                 
                </form>
            </div>
        </div>
    </div>
</body>

</html>