<div class="title-wrap mb-5" data-aos="fade-up">
    <nav class="navbar navbar-light bg-light">
        <form class="d-flex input-group w-auto mx-auto justify-content-center" action="{% url 'news:search' %}" method="get">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" name="s"/>
            <button class="input-group-text border-0" type="submit"><i class="fa fa-search"></i></button>
            </span>
        </form>
    </nav>
</div>  